* {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}

h1 {
color:blueviolet
}

p {
color:red
}

body {
    background:coral
}
#citation {
    color: aquamarine;
    background: green;
}
.new-class {
    font-size: 30px;
    background: royalblue;
}
#new-id{
    background: chartreuse;
    color: brown;
}
.new-class {
    background: purple;
    letter-spacing: normal;
}
a {
    font-size: 30px;
}

a:visited {
    color: yellow;
}

a:hover {
    color: white;
    text-decoration: none;
}
#container {
    background-color: brown;
    border-style: solid;
    border-color: aquamarine;
    border-width: 10px;
}
#shape {
    height: 200px;
    width: 200px;
    background: blue;
}
#circle {
    height: 200px;
    width: 200px;
    background: coral;
    border-radius: 200px;
}
img {
    width: 200px;
    height: 200px;
}
* {
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 100px;
    margin-bottom: 100px;
}